body {
  font-family: "Roboto", sans-serif;
  color: color: #434455;
  background-color: #FFFFFF;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #2e2f42;
  font-weight: 700;
   line-height: 1.17
}

.logo-web {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
}

.navig {
  font-weight: 500;
}

.navig:hover {
  color: #404bbf;
}

.email {
  color: #434455;
  font-weight: 400;
  font-style: normal;
}

.email:hover {
  color: #404bbf;
}

.phone {
  color: #434455;
  font-weight: 400;
  font-style: normal;
}

.phone:hover {
  color: #404bbf;
}

.site-face {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
}

.title-button {
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
}

.button-text {
  color: #fff;
  font-weight: 500;
}
