body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #e5e5e5;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  font-size: 18px;
  color: #2e2f42;
  font-weight: 700;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
}

.studio {
  font-weight: 500;
}

.studio:hover {
  color: #404bbf;
}

.portfolio {
  font-weight: 500;
}

.portfolio:hover {
  color: #404bbf;
}

.contacts {
  font-weight: 500;
}

.contacts:hover {
  color: #404bbf;
}

.email {
  color: #434455;
  font-weight: 400;
  font-style: normal;
}

.email:hover {
  color: #404bbf;
}

.phone {
  color: #434455;
  font-weight: 400;
  font-style: normal;
}

.phone:hover {
  color: #404bbf;
}

.site-face {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
}

.title-button {
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
}

.button-text {
  color: #fff;
  font-weight: 500;
}
